.task-list {
  width: auto;
  margin: 2rem 4rem;
  list-style-type: none;
}

.list-item {
  position: relative;
  margin-bottom: 1.3rem;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}

.done-checkbox {
  margin-right: 0.5rem;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}
.default.done-checkbox {
  margin-right: 1.5rem;
}

.done-checkbox-label {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.done-checkbox-label::before {
  position: absolute;
  content: attr(data-content);
  color: gray;
  clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: #46529d;
  transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.done-checkbox:checked ~ label::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.show-completed-wrapper {
  margin: 3rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.default.show-completed-checkbox {
  margin-right: 2rem;
  min-width: 2rem;
  min-height: 2rem;
}
