.header {
  padding: 1.5vw;
  width: 100%;
  height: 30vh;
  font-size: 3.5em;
  text-align: center;
  background: #46529d;
  color: #fff;
}

.task-input-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.task-input {
  width: 29vw;
  height: 4vh;
  padding: 0.5em;
  box-sizing: border-box;
}

.add-btn {
  padding: 1.5em;
  color: #fff;
  background: #2ebaee;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
}
.add-btn:disabled {
  opacity: 0.6;
  pointer-events: none;
}
