.default {
  display: inline-block;
  position: relative;
  margin-right: 0.5em;
  margin-top: auto;
  width: 1.5em;
  height: 1.5em;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  border: 1px solid gray;
  border-radius: 4px;
  -webkit-appearance: none;
}
.default::before {
  position: absolute;
  content: "";
  display: block;
  top: 8%;
  left: 25%;
  width: 42%;
  height: 60%;
  border-style: solid;
  border-color: #fff;
  border-width: 0 0.15em 0.15em 0;
  box-sizing: border-box;
  transform: rotate(45deg);
  opacity: 0;
}
.default:checked {
  color: #fff;
  border-color: #46529d;
  background: #46529d;
}
.default:checked::before {
  opacity: 1;
}
.default:disabled {
  opacity: 0.5;
  cursor: default;
}
.default:disabled + label {
  opacity: 0.5;
}
